.project-display{
  padding: 0px;
  margin: 5px;
  width: 24%;
  height: 150px;
}

.project-display:hover{
  background-color: #efefef;
}

.cursor-pointer{
  cursor: pointer;
}

.flash-position{
  position: fixed;
  float: left;
  z-index: 1001;
  margin-left: 40%;
  min-width: 240px;
  margin-top: 10px;
}