<h3>Projects</h3>

<div>
  <button type="button" class="btn btn-primary" ui-sref="projects-new">Project</button>
</div>

<hr>

<div class="row">
  <div ng-repeat="project in projects" class="col-md-3 panel panel-default project-display cursor-pointer">
    <div class="panel-body">
      <div><a ui-sref="projects-edit({id: $index})"><b>{{project.name}}</b></a></div>
      <div>
        <p>{{project.description}}</p>
      </div>
      <span><i>{{project.author}}</i></span>
    </div>
  </div>
</div>
